@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --lightgreen: #00391D;
    --darkgreen: #1D2816;
    --brown: #876340;
    --yellow: #D49A3D;
    --light: #DFDFDF;
    --black: #161616;
}
/* #00391D
#1D2816 
#876340
#D49A3D
#DFDFDF
#161616 */

@layer components {
    /* ---------partner session ----------*/
    ._partnerCard {
      @apply  px-8 flex-shrink-0 relative sm:w-auto h-52 rounded-2xl bg-white flex items-center justify-center overflow-hidden scale-95 transition-all hover:scale-100;
    
    }
  }